// regles de bases pour elements natifs

html {
  //font-size: 46.875%; // 62.5 % de 16 pixels = 10 pixels (3rem = 30px)
  font-size: 62.5%; // 62.5 % de 16 pixels = 10 pixels (3rem = 30px)
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; // 16px par defaut
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none; // virer les puces
}

a {
  color: var(--text);
  text-decoration: none; // virer le soulignement
}

img {
  max-width: 100%; // pour etre sur que l'img ne prennent pas l'espace dont elle a besoin
}
