* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes bounce {
  0% {
    transform: rotate(0deg) opacity(0); }
  10% {
    transform: rotate(-35deg); }
  20% {
    transform: rotate(-25deg); }
  70% {
    transform: rotate(15deg); }
  80% {
    transform: rotate(-5deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg) opacity(1); } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes move-top {
  from {
    transform: translate(0px, 200px); }
  to {
    transform: translate(0px, 0px); } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.br-right-2 {
  border-right: 2px solid var(--light) !important; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--light); }

.text-hint {
  color: var(--hint); }

.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto;
  /* Landscape phones and down */ }
  @media (max-width: 480px) {
    .grid-container {
      grid: "header" auto "picture" auto "main" auto "aside" auto "footer" auto / auto; } }

header {
  grid-area: header;
  background-image: linear-gradient(to top, rgba(66, 154, 255, 0.7), rgba(10, 80, 133, 0.7)), url("../img/fond.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  min-height: 30rem;
  padding: 10rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Landscape phones and down */ }
  @media (max-width: 480px) {
    header {
      padding: 5rem 2rem; } }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    /* Landscape phones and down */ }
    @media (max-width: 480px) {
      header h1 {
        font-size: 4rem;
        letter-spacing: 1rem; } }
  header p {
    font-size: 2.5rem;
    letter-spacing: 0.5rem; }
  header span {
    display: inline-block;
    animation: bounce 0.8s; }

header p {
  animation: move-top 1s; }

.picture {
  grid-area: picture;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    border-radius: 50%; }

.picture img {
  -webkit-animation: fadein 4s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s;
  /* Firefox < 16 */
  -ms-animation: fadein 4s;
  /* Internet Explorer */
  -o-animation: fadein 4s;
  /* Opera < 12.1 */
  animation: fadein 4s; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem; }
  aside .block {
    margin-bottom: 5rem; }
    aside .block h3 {
      margin-bottom: 0;
      font-size: 1.4rem; }
    aside .block p {
      margin: 0 0 2rem 0;
      font-style: italic; }
  aside .bar-skill {
    margin: 2rem 0;
    height: 3px;
    background: var(--border);
    position: relative; }
    aside .bar-skill .bar-skill-progress {
      position: absolute;
      height: 3px;
      top: 0;
      left: 0;
      width: var(--htmls-scss);
      background: var(--light); }
    aside .bar-skill .bar-skill-dot {
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--primary);
      left: calc(var(--htmls-scss) - 5px);
      top: -3.25px;
      transform: rotate(45deg); }
  aside .stars-container {
    display: flex;
    color: var(--border);
    margin: 2rem 0 3rem 0; }
    aside .stars-container i {
      font-size: 1.5rem;
      margin: 0 1rem; }
  aside .social-container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s; }
    aside .social-container:hover {
      background: var(--border); }
      aside .social-container:hover i {
        color: var(--light);
        transition: ease-in-out all 0.4s;
        transform: scale(1.3);
        margin-left: 1rem; }
    aside .social-container i {
      font-size: 2rem;
      flex: 0 0 50px;
      margin-right: 1rem; }
    aside .social-container p {
      flex: auto;
      margin: 0; }

main {
  grid-area: main;
  padding: 5rem;
  /* Landscape phones and down */ }
  @media (max-width: 480px) {
    main {
      padding: 5rem 2.5rem; } }
  main h2 {
    margin-bottom: 4rem; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
  main .experience {
    display: flex;
    margin: 6rem 0; }
    main .experience .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border); }
      main .experience .timeline p {
        margin: 0; }
    main .experience .content {
      padding: 0 1rem; }
      main .experience .content h3 {
        margin: 0; }
      main .experience .content p {
        margin: 0; }
    main .experience ul {
      margin: 2rem 0;
      list-style: circle;
      padding-left: 4rem; }
      main .experience ul ul {
        list-style: square;
        margin: 0.7rem;
        padding-left: 2rem; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  /* Landscape phones and down */
  background: var(--text); }
  @media (max-width: 480px) {
    footer {
      padding: 5rem 2.5rem; } }
  footer h2 {
    margin-bottom: 3rem; }
  footer form {
    display: flex;
    align-items: center; }
    footer form .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem; }
    footer form button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.4s; }
      footer form button:hover {
        opacity: 0.7; }
      footer form button .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; }
    footer form input {
      outline: 0;
      border: 0;
      line-height: 2rem;
      min-width: 400px;
      /* Landscape phones and down */
      padding: 1rem 2rem; }
      @media (max-width: 480px) {
        footer form input {
          min-width: 200px; } }
      footer form input::placeholder {
        color: var(--text); }
